<!DOCTYPE html>
<html>

<head>
  <title>NOBE Financeira S/A</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'logoop.png', :rel => 'icon', :type => 'image/png' %>
</head>

<body>

  <%= render partial: 'shared/header' %>

  <div class="container-fluid text-center" data-controller="home">

    <div class="row content">
      <div class="col-sm-2 sidenav"></div>

      <div class="col-sm-8 text-left">
        <main class="main">
          <%= yield %>
          <%= render partial: 'layouts/loading' %>
        </main>
      </div>

      <div class="col-sm-2 sidenav"></div>
    </div>

    <%= custom_bootstrap_flash %>
    <%= loading_modal_before_ajax %>
  </div>

</body>

</html>