<!DOCTYPE html>
<html>
  <head>
    <title>Financeira Nobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= render partial: 'shared/header' %>

      <main class="main">
        <%= yield %>
        <%= render partial: 'layouts/loading' %>
      </main>

      <%= custom_bootstrap_flash %>
      <%= loading_modal_before_ajax %>
    </nav>

  </body>
</html>
